{% extends "CanalTPNmpAdminBundle:Sim:base.html.twig" %}

{% block affiliate_breadcrumb %}
    <li class="current"><a href="{{ path('ctp_affiliate_add') }}">{{'ctp_user.affiliate.add._breadcrumb'|trans}}</a></li>
{% endblock %}

{% block fos_user_content -%}
    <h1>{{'ctp_user.affiliate.add._title'|trans}}</h1>

    <form action="{{ path('ctp_affiliate_add') }}" method="post" {{ form_enctype(add_form) }} class="affiliate_add">
        {{ form_widget(add_form) }}
        <p>
            <button class="button" type="submit">{{'ctp_user.affiliate.actions.add.short'|trans}}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ctp_affiliate') }}">
            {{'ctp_user.affiliate.actions.back.list'|trans}}
        </a>
    </li>
</ul>
{% endblock %}
