{% extends "CanalTPNmpAdminBundle:Sim:base.html.twig" %}

{% block affiliate_breadcrumb %}
    <li class="current"><a href="{{ path('canal_tp_sam_sim_edit', {'groupname': groupname} ) }}">{{'ctp_user.sim.edit._breadcrumb'|trans}}</a></li>
{% endblock %}

{% block fos_user_content -%}
    <h1>{{'ctp_user.sim.edit._title'|trans}}</h1>

    <form action="{{ path('canal_tp_sam_sim_edit', {'groupname': groupname} ) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="button" type="submit">{{'ctp_user.affiliate.actions.edit.short'|trans}}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('canal_tp_sam_sim') }}">
            {{'ctp_user.sim.actions.back.list'|trans}}
        </a>
    </li>
</ul>
{% endblock %}
