{% extends "::base.html.twig" %}

{#% form_theme form _self %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
        {% if multiple != true  %}
            {{ form_label(child) }}
        {% endif %}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %#}

{% block checkbox_widget %}
{% spaceless %}
<label class="checkbox-inline">
    <input type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} {% if checked %} checked="checked"{% endif %} />
    {{ label }}
</label>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('sam_user_list') }}">{{'ctp_user.user._breadcrumb'|trans}}</a></li>
    <li class="current"><a href="{{ path('fos_user_registration_register') }}">{{'ctp_user.user.add._breadcrumb'|trans}}</a></li>
{% endblock %}

{% block main_content -%}
    <h1>{{'ctp_user.user.add._title'|trans}}</h1>
    <hr/>
    {{ form_start(form, { action: url('fos_user_registration_register'), attr: {class: 'fos_user_registration_register custom' } }) }}
        {{ bootstrap_set_style('horizontal') }}

        {{ form_row(form.user.username) }}
        {{ form_row(form.user.firstname) }}
        {{ form_row(form.user.lastname) }}
        {{ form_row(form.user.email) }}
        {{ form_row(form.applications) }}

        {% for application in form.rolesAndPerimetersByApplication %}
            {% if ((loop.index - 1) % 2) == 0 %}<div class="row">{% endif %}
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title">{{ application.vars.value.application.name }}</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Rôles</h4>
                                {% if application.roles.vars.choices|length %}
                                    {{ form_errors(application.roles) }}
                                    {{ form_widget(application.roles) }}
                                {% else %}
                                    <div class="alert alert-info">{{ application.vars.value.name }} n'a pas de rôle</div>
                                {% endif %}
                                {{ form_widget(application.superAdmin) }}
                            </div>

                            <div class="col-xd-12 col-md-6">
                                <h4>Périmètres</h4>
                                {% if application.perimeters.vars.choices|length %}
                                    {{ form_errors(application.perimeters) }}
                                    {{ form_widget(application.perimeters) }}
                                {% else %}
                                    <div class="alert alert-info">{{ application.vars.value.name }} n'a pas de périmètre</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if (loop.index - 1) % 2 == 1  or loop.index == form.rolesAndPerimetersByApplication|length %}</div>{% endif %}
        {% endfor %}

        <p>
            <button class="btn btn-success" type="submit">
                <span class="glyphicon glyphicon-plus"></span> {{'ctp_user.user.actions.add.short'|trans}}
            </button>
        </p>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block left_menu -%}
    <a class="btn btn-default" href="{{ path('sam_user_list') }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        {{'ctp_user.user.actions.back.list'|trans}}
    </a>
{% endblock %}
