{% extends "::modal.html.twig" %}

{% block modal_title %}
    {{'ctp_user.user.delete._title'|trans}}
{% endblock %}

{% block modal_body %}
    <p>{{'ctp_user.user.delete.confirm'|trans}}</p>
{% endblock %}

{% block open_form %}
    <form action="{{ path('sam_user_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
{% endblock %}

{% block modal_actions %}
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">
            <span class="glyphicon glyphicon-trash"></span> {{'ctp_user.user.actions.delete.short'|trans}}
        </button>
    </form>
{% endblock %}
