{% extends "CanalTPSamEcoreUserManagerBundle:User:common_breadcrumb.html.twig" %}

{% block checkbox_widget %}
{% spaceless %}
<label class="checkbox-inline">
    <input type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} {% if checked %} checked="checked"{% endif %} />
    {{ label }}
</label>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        <a href="{{ path('sam_user_edit', { 'user': id }) }}">{{'ctp_user.user.edit._breadcrumb'|trans}}</a>
    </li>
{% endblock %}

{% block main_content -%}
    <h1>{{ title|trans }}</h1>
    <hr/>
    {{ form_start(form, { action: url('sam_user_edit', { 'user': id }), attr: {class: 'fos_user_registration_register custom' } }) }}
    {{ bootstrap_set_style('horizontal') }}
    {% if flow.getCurrentStepNumber() == 1 %}

            {{ form_row(form.username) }}

            {{ form_row(form.firstname) }}

            {{ form_row(form.lastname) }}

            {{ form_row(form.email) }}

    {% elseif flow.getCurrentStepNumber() == 2 %}

            {{ form_row(form.customer) }}

    {% elseif flow.getCurrentStepNumber() == 3 %}

        {% for customerApplications in form.applications %}
            {% for customerApplication in customerApplications %}
                {{ form_row(customerApplication) }}
            {% endfor %}
        {% endfor %}

    {% endif %}

    <input type="hidden" name="{{ flow.getFormStepKey() }}" value="{{ flow.getCurrentStepNumber() }}" />

    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' with {
        craue_formflow_button_class_last: 'btn btn-primary',
        craue_formflow_button_class_back: 'btn',
        craue_formflow_button_class_reset: 'btn btn-warning',
        craue_formflow_button_class_next: 'btn btn-success'
    } %}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block left_menu -%}
    {% include 'CanalTPSamEcoreUserManagerBundle:User:common_menu.html.twig' %}
    <hr/>

    <div>
        Etapes:
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
    </div>
{% endblock %}
