{% extends "CanalTPSamEcoreUserManagerBundle:User:common_breadcrumb.html.twig" %}

{% block checkbox_widget %}
{% spaceless %}
<label class="checkbox-inline">
    <input type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} {% if checked %} checked="checked"{% endif %} />
    {{ label }}
</label>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        <a href="{{ path('sam_user_edit', { 'user': id }) }}">{{'ctp_user.user.edit._breadcrumb'|trans}}</a>
    </li>
{% endblock %}

{% block main_content -%}
    <h1>{{ title|trans }}</h1>
    <hr/>
    {{ form_start(form, { action: path('sam_user_edit', { 'user': id }), attr: {class: 'fos_user_registration_register custom' } }) }}
    {{ bootstrap_set_style('horizontal') }}
    {% if flow.getCurrentStepNumber() == 1 %}

            {{ form_row(form.username) }}

            {{ form_row(form.firstname) }}

            {{ form_row(form.lastname) }}

            {{ form_row(form.email) }}

    {% elseif flow.getCurrentStepNumber() == 2 %}

            {{ form_row(form.customer) }}

    {% elseif flow.getCurrentStepNumber() == 3 %}

        {% for customerApplications in form.applications %}
            {% for customerApplication in customerApplications %}
                {% if (customerApplication|length) %}
                    {{ form_row(customerApplication) }}
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endif %}

    <input type="hidden" name="{{ flow.getFormStepKey() }}" value="{{ flow.getCurrentStepNumber() }}" />

    {% include 'CanalTPSamEcoreUserManagerBundle:User:buttons.html.twig' %}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block left_menu -%}
    {% if (link_back_to_list is not defined) or (link_back_to_list != false) -%}
        <a class="btn btn-default" href="{{ path('sam_user_list') }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {{'ctp_user.user.actions.back.list'|trans}}
        </a>
    {% endif %}

    <hr/>

    <div>
        Etapes:
        {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
    </div>
{% endblock %}
