{% extends "CanalTPSamEcoreUserManagerBundle:User:common_breadcrumb.html.twig" %}

{# @TODO: Put checkboxes inline #}
{#% form_theme form _self %}
{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
        {% if multiple != true  %}
            {{ form_label(child) }}
        {% endif %}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %#}

{% block checkbox_widget %}
{% spaceless %}
<label class="checkbox-inline">
    <input type="checkbox" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %} {% if checked %} checked="checked"{% endif %} />
    {{ label }}
</label>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        <a href="{{ path('sam_user_edit', { 'id': user.id }) }}">{{'ctp_user.user.edit._breadcrumb'|trans}}</a>
    </li>
{% endblock %}

{% block main_content -%}
    <h1>{{'ctp_user.user.edit._title'|trans}}</h1>
    <hr/>
    {{ form_start(form, { action: url('sam_user_edit', { 'id': user.id }), attr: {class: 'fos_user_registration_register custom' } }) }}
        {{ bootstrap_set_style('horizontal') }}

        {{ form_row(form.user.username) }}
        {{ form_row(form.user.firstname) }}
        {{ form_row(form.user.lastname) }}
        {{ form_row(form.user.email) }}
        {{ form_row(form.customer) }}

        <button class="btn btn-success" type="submit">
            <span class="glyphicon glyphicon-plus"></span> {{'ctp_user.user.actions.edit.short'|trans}}
        </button>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block left_menu -%}
    {% include 'CanalTPSamEcoreUserManagerBundle:User:common_menu.html.twig' %}
{% endblock %}
