<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        {{ app.user.username }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right" role="menu">
        <li class="">
            <a class="btn" href="{{ path('sam_user_edit_profil') }}">
                <span class="glyphicon glyphicon-wrench"></span> {{ 'ctp_user.profil._menu'|trans() }}
            </a>
        </li>
        <li class="">
            <a class="btn" href="{{ path('fos_user_security_logout') }}">
                <span class="glyphicon glyphicon-off"></span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </li>
    </ul>
</li>
